.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  .column {
    flex: 1;

    &--tight { flex: none; }
    &--wide { flex-grow: 2; }
  }

  .columns {
    padding: 0;
    margin: 0;
  }
}
