details.collapsible {
  summary {
    list-style: none;
    padding: 1rem;
    cursor: pointer;

    &::before {
      content: '+';
      display: inline-block;
      margin-right: 0.5rem;
      font-weight: bold;
      transition: all 0.3s ease;
    }
  }

  &[open] {
    padding-bottom: 1rem;

    summary::before { transform: rotate(45deg); }
  }
}
