html {
  scroll-behavior: smooth;
}

#app {
  font: 1rem / 1.2 Poppins, sans-serif;
  background: var(--bgcolor);
  color: var(--textcolor);
  font-size: 200;
  height: 100vh;
}

#main {
  flex: 1;
  overflow: auto;
}

section {
  margin: 5rem 0;
  scroll-margin: 5rem;
}

.content {
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  text-align: left;
}

footer {
  padding: 1px;
  text-align: center;
}
