#app {
  font: 1rem / 1.2 Poppins, sans-serif;
  background: var(--bgcolor);
  color: var(--textcolor);
  font-size: 200;
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 240px;
}

#main {
  flex: 1;
  overflow: auto;
}

section { margin: var(--xxxl) 0; }

.content { padding: 0 var(--xl); }

footer {
  padding: 1px;
}
