@import "@vueform/slider/themes/default.css";

input {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #0002;
  margin: var(--xxs);
  padding: var(--s) var(--m);
  outline: none;
  text-overflow: ellipsis;
  box-sizing: border-box;

  &:focus,
  &:focus-within { border-color: var(--color-primary); }
}

.btn {
  display: inline-block;
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
  color: #fff;
  padding: var(--s) var(--m);
  margin: var(--xxs);
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  line-height: 1.2;
  font-weight: normal;

  &--flat {
    background: transparent;
    border-color: transparent;
    color: var(--color-primary);
  }

  &.block {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  &:hover { animation: shake 0.75s infinite; }
};

.datepicker {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .calendar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0 var(--xxs);
    background: #fff;
    border: 1px solid #0001;
    padding: var(--s);
    z-index: 2;

    header {
      display: flex;
      line-height: 2;
      text-transform: uppercase;
      font-weight: bold;
    }

    .weekdays {
      text-align: center;
      text-transform: uppercase;
      font-size: var(--s);
      margin: var(--l) 0 var(--s);
      opacity: 0.5;
    }

    .day {
      padding: var(--xs);

      &--outsider { opacity: 0.25; }

      &--selected {
        background: var(--color-primary);
        color: #fff;
        border-radius: var(--datepicker-border-radius);
        opacity: 1;
      }

      &--disabled {
        background: #0004;
        opacity: 0.125;
      }
    }
  }

  &:focus-within .calendar,
  .calendar:hover { display: block; }
}

.range-slider {
  margin: var(--l) var(--s);

  .slider-active {
    box-shadow: 0 0 0 var(--xs) var(--color-primary--light)
  }
}

label {
  display: inline-block;
  margin: var(--xs) 0;
  display: flex;
  flex-direction: column;

  span {
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.5;
    margin: 0 var(--xxs);
  }
}
