@import "@vueform/slider/themes/default.css";

.input,
input[type="text"] {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #0002;
  border-radius: var(--border-radius);
  margin: 0.125rem;
  padding: 0.75rem;
  outline: none;
  text-overflow: ellipsis;
  box-sizing: border-box;

  &:focus,
  &:focus-within { border-color: var(--color-primary); }
}

.selector {
  z-index: 2;

  input[type="radio"] { display: none; }

  .icon {
    height: 1rem;
    width: 1rem;
  }

  &__toggle {
    @extend .input; // stylelint-disable-line scss/at-extend-no-missing-placeholder

    display: flex;
    gap: 0.5rem;
  }

  .placeholder,
  .selected { flex: 1; }

  .placeholder {
    opacity: 0.5;
    flex: 1;
    white-space: nowrap;
  }

  &__options {
    background: #fff;
    border: 1px solid #0002;
    border-radius: var(--border-radius);
    max-height: 20rem;
    overflow: auto;
    margin: 0.125rem;
    padding: 0.5rem;

    label {
      display: block;
      padding: 0.5rem 0.75rem;
      border-radius: var(--border-radius);
      cursor: pointer;

      &:has(:checked) {
        background: var(--color-primary);
        color: #fff;
      }
    }
  }
}

.btn {
  all: unset;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--color-primary);
  color: #fff;
  padding: 0.75rem 1rem;
  margin: 0.125rem;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  border-radius: var(--border-radius);

  &--flat {
    background: transparent;
    border-color: transparent;
    color: var(--color-primary);
  }

  &.block {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  &:hover { animation: shake 0.75s 1; }

  & .icon {
    height: 1.25em;
    width: 1.25em;
    margin: -0.125em;
  }
};

.datepicker {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .calendar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0 0.125rem;
    background: #fff;
    border: 1px solid #0002;
    padding: 0.5rem;
    z-index: 2;
    border-radius: var(--border-radius);

    header {
      display: flex;
      line-height: 3;
      font-weight: bold;
    }

    .weekdays {
      text-align: center;
      font-size: 0.75rem;
      margin: 0.5rem 0;
      opacity: 0.5;
    }

    .day {
      padding: 0.5rem;
      border-radius: var(--border-radius);

      &--outsider { opacity: 0.25; }

      &--selected {
        background: var(--color-primary);
        color: #fff;
        opacity: 1;
      }

      &--disabled {
        background: #0004;
        opacity: 0.125;
      }
    }
  }

  &:focus-within .calendar,
  .calendar:hover { display: block; }
}

.range-slider {
  margin: 1.5rem 1rem;

  .slider-active { box-shadow: 0 0 0 0.25rem var(--color-primary); }
}

.label {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;

  & > em {
    font-size: 0.9rem;
    opacity: 0.6;
    margin: 0 0.25rem;
  }
}
