#app {
  font: 1rem / 1.2 Poppins, sans-serif;
  background: var(--bgcolor);
  color: var(--textcolor);
  font-size: 200;
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 240px;
}

#main {
  flex: 1;
  overflow: auto;
}

footer {
  padding: var(--xl) 0;
}

.columns {
  display: flex;
  margin: var(--columns-gap, var(--xl));

  .column {
    flex: 1;
    margin: var(--columns-gap, var(--xl));

    &--tight { flex: none; }
    &--wide { flex: 2; }
  }

  .columns {
    padding: 0;
    margin: 0;
  }
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fafafadd;
  max-width: 250px;
  z-index: 2;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: transform 0.5s ease;

  & > header {
    z-index: 1;
    border-bottom: 1px solid #0001;
  }

  &__toggler {
    background: var(--color-primary);
    padding: var(--xl) var(--l);
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.5s ease;
    writing-mode: vertical-lr;
  }

  &:hover { transform: translate(0); }
}

details.collapsible {
  summary {
    list-style: none;
    padding: var(--m) var(--l);
    cursor: pointer;
    color: var(--color-primary);
    text-align: right;

    .icon {
      height: 1em;
      width: 1em;
      vertical-align: middle;
    }
  }

  &[open] { padding-bottom: var(--l); }
}
