#app {
  font: 1rem / 1.2 Poppins, sans-serif;
  background: var(--bgcolor);
  color: var(--textcolor);
  font-size: 200;
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 240px;
}

#main {
  flex: 1;
  overflow: auto;
}

section { margin: var(--xxxl) 0; }

footer {
  padding: 1px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: var(--columns-gap, var(--xl)) 0;

  .column {
    flex: 1;
    margin: var(--columns-gap, var(--xl));

    &--tight { flex: none; }
    &--wide { flex-grow: 2; }
  }

  .columns {
    padding: 0;
    margin: 0;
  }
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fafafadd;
  max-width: 270px;
  z-index: 2;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: transform 0.5s ease;

  & > header {
    z-index: 1;
    border-bottom: 1px solid #0001;
  }

  &__toggler {
    background: var(--color-primary);
    padding: var(--l) var(--m);
    color: #fff;
    font-weight: 600;
    font-size: 0.9em;
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.5s ease;
    writing-mode: vertical-lr;
  }

  &:hover { transform: translate(0); }
}

details.collapsible {
  summary {
    list-style: none;
    margin: var(--s) 0;
    cursor: pointer;

    &::before {
      content: '+';
      display: inline-block;
      margin-right: var(--xs);
      font-weight: bold;
      transition: all 0.3s ease;
    }
  }

  &[open] {
    padding-bottom: var(--s);

    summary::before { transform: rotate(45deg); }
  }
}
