ul.links {
  margin: var(--m) 0;

  li {
    display: flex;
    margin: var(--s) 0;
  }
}

ul.seisms {
  flex: 1;
  overflow: auto;

  .seism {
    padding: var(--m) var(--l);
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;

    & + .seism { border-top: 1px solid #0000000b; }

    &__date {
      display: block;
      font-weight: 600;
    }

    &__location {
      display: block;
      font-size: 0.9rem;
      opacity: 0.5;
    }

    &__marker {
      margin: 0 var(--xl) 0 var(--s);
      position: relative;
      border-bottom: 1px solid green;
    }

    &__magnitude {
      position: absolute;
      top: 100%;
      left: 50%;
      display: inline-block;
      background: var(--color-primary);
      padding: var(--xxs) var(--xs);
      font-size: var(--s);
      color: #fff;
      line-height: 1;
      font-weight: bold;
      transform: translate(-50%, var(--xs));
    }

    .ripple {
      --size: var(--m);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--active {
      background: var(--color-primary--extralight);
      border-bottom: 1px solid #0000000b;
      position: sticky;
      top: 0;
      bottom: 0;
      z-index: 1;

      .ripple { --size: var(--xxxl); }
    }
  }
}
