@import 'mapbox-gl/dist/mapbox-gl.css';

.mapboxgl-ctrl { border-radius: var(--border-radius); }

.mapboxgl-popup {
  &-content {
    padding: var(--xxs) var(--s);
    min-width: 250px;
  }

  &-close-button { outline: none; }
}

#map {
  height: 100%;
  width: 100%;
}

.seism-popup {
  margin: var(--s);
  font-size: 0.9rem;

  p {
    position: relative;
    margin: var(--xs) 0;
    z-index: 1;
  }

  &__magnitude {
    text-align: center;
    color: #0007;
    margin: var(--xl) 0 var(--l);

    em {
      font-size: 1.125rem;
      color: var(--color-primary);
    }
  }

  &__data {
    margin: var(--l) 0;

    p {
      display: flex;
      line-height: 1.25;
      margin: var(--s) 0 !important;
    }

    .icon {
      flex: 0 0 var(--m);
      height: var(--m);
      margin: var(--xxxs) var(--xs) 0 0;
      opacity: 0.4;
    }
    .label { display: none; }
  }
}
