h2 {
  font-size: var(--xl);
  margin-bottom: var(--m);
  font-weight: 600;
}

h4 {
  margin-bottom: var(--l);
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.3;
}

a {
  color: currentColor;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-primary);

  &:hover { animation: shake 0.75s infinite; }
}

p.copyright {
  font-size: var(--s);
  opacity: 0.5;
  text-align: center;
  margin: var(--m);
}
