h2 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.3;
}

p {
  margin: 0.5rem 0;

  &.note { opacity: 0.5; }
}

strong { font-weight: bold; }

a {
  font-weight: 600;
  text-decoration: none;
  color: var(--color-primary);
  display: inline-block;

  &:hover { animation: shake 0.75s 1; }
}

p.copyright {
  font-size: 0.85rem;
  opacity: 0.5;
  text-align: center;
  margin: 1rem;
}
