@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap';
@import
  'layout',
  'typography',
  'lists',
  'form',
  'map',
  'animation';

:root {
  font-size: 14px;

  /* Colors */
  --color-primary: #417abe;
  --bgcolor: #fff;
  --textcolor: #333;

  /* Slider */
  --slider-bg: #0001;
  --slider-connect-bg: var(--color-primary);
  --slider-height: 4px;
  --slider-handle-bg: var(--color-primary);
  --slider-handle-width: 1.5rem;
  --slider-handle-height: 1.5rem;
  --slider-handle-shadow: none;
  --slider-tooltip-font-size: 1rem;
  --slider-tooltip-font-weight: 200;
  --slider-tooltip-bg: var(--color-primary);
  --slider-tooltip-color: #fff;
  --slider-tooltip-radius: 0;

  /* Borders */
  --border-radius: 3px;
}
