@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

@import
  'layout',
  'typography',
  'lists',
  'map',
  'animation';

:root {
  font-size: 13px;

  --color-primary: #d34;

  --bgcolor: #fff;
  --textcolor: #333;

  --xxxs: 0.125rem;
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --s: 0.75rem;
  --m: 1rem;
  --l: 1.5rem;
  --xl: 2rem;
  --xxl: 3rem;
  --xxxl: 5rem;

  --columns-gap: 2rem;

  --marker-color: var(--color-primary);
}
